<div id="{{id}}" class="modal hide fade" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="ntgModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 class="modal-title">{{title}}</h2>
    <h4 class="modal-subTitle text-info">{{subTitle}}</h4>
  </div>
  <div class="modal-body">{{{body}}}</div>
  <div class="modal-footer">{{{footer}}}</div>
</div>
