<ul class="specialOp nav nav-list">
  {{#each .}}

    {{#if class}}
      <li class="{{class}}">{{title}}</li>
    {{else}}
      {{#if select}}
        <li id="valueList"></li>
      {{else}}
        <li>
          <a id="{{id}}" href="#">{{title}}</a>
        </li>
      {{/if}}
    {{/if}}
  {{/each}}
</ul>
