<table class="table table-condensed">
  <thead>
    <tr>
      <th>Box Id</th>
      <th>Hardware Count</th>
      <th>Accessory Count</th>
      <th></th>
    </tr>
  </thead>
  {{#each box}}
    <tr>
      <td>{{boxId}}</td>
      <td>{{hardware.length}}</td>
      <td>{{accCount}}</td>
      <td></td>
    </tr>
  {{/each}}
    <thead>
      <tr class="warning">
        <th>{{boxes}}</th>
        <th>{{hw}}</th>
        <th>{{accCount}}</th>
        <th>Totals</th>
      </tr>
    </thead>
</table>
